html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    background: url("https://images.unsplash.com/photo-1491308056676-205b7c9a7dc1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8c3R1ZGVudHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80");
    background-repeat: no-repeat;
    background-size:100% 20% ;
    
}

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: dodgerblue;
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
    /* clip-path: circle(25px at calc(0% + 45px) 45px); */
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.3s ease-in-out;
}

#active:checked~.wrapper {
    clip-path: circle(75%);
}

.menu-btn {
    position: fixed;
    z-index: 2;
    right: 20px;
    /* left: 20px; */
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    background: dodgerblue;
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
    transition: all 0.3s ease-in-out;
}

#active:checked~.menu-btn {
    background: #fff;
    color: #4158d0;
}

#active:checked~.menu-btn i:before {
    content: "\f00d";
}

.wrapper ul {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
}

.wrapper ul li {
    margin: 15px 0;
}

.wrapper ul li a {
    color: none;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
}

.wrapper ul li a:after {
    position: absolute;
    content: "";
    background: #fff;
    width: 100%;
    height: 50px;
    left: 0;
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    transition: transform 0.3s ease;
}

.wrapper ul li a:hover:after {
    transform: scaleY(1);
}

.wrapper ul li a:hover {
    color: #4158d0;
}

input[type="checkbox"] {
    display: none;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    text-align: center;
    width: 100%;
    color: #202020;
}

.content .title {
    font-size: 40px;
    font-weight: 700;
}

.content p {
    font-size: 35px;
    font-weight: 600;
}

.main-heading {
    padding-top: 100px;
    padding-left: 30px;
    font-size: 33px;
    font-family:Arial, Helvetica, sans-serif;
}

.main-heading span {
    position: absolute;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    color: black;
    font-size: 45px;
}

.main-heading span:hover {
    cursor: pointer;
    animation-name: rubberBand;
    -moz-animation-name: rubberBand;
}

.btn {
    width: auto;
    background-color: #36DE75;
    border: none;
    margin-top: 30px;
    margin-left: 20px;
    padding: 15px;
}

.btn:hover {
    background-color: #36DE75;
    box-shadow: 0 0 20px rgba(33, 33, 33, .2);
}

.icon {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-right: 5px;
    padding: 0px 8px;
    display: flex;
    align-items: center;
    color: black;
}

.text {
    white-space: nowrap;
    padding-right: 15px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.quick-heading-right {
    font-size: 33px;
    font-family:Arial, Helvetica, sans-serif;
}

.quick-heading-left {
    font-size: 33px;
    font-family:Arial, Helvetica, sans-serif;
}

.quick-heading-left span {
    position: absolute;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    color: black;
    font-size: 45px;
}

.quick-heading-left span:hover {
    cursor: pointer;
    animation-name: rubberBand;
    -moz-animation-name: rubberBand;
}

.quick-heading-right img:hover {
    cursor: pointer;
    animation-name: rubberBand;
    -moz-animation-name: rubberBand;
}

.quick {
    margin-top: 35%;
    margin-bottom: 8%;
    
}

.cover-heading h1{
   text-align: center;
}

.bottom-heading h1 {
    text-align: center;
}

.bottom-heading-1 {
    margin-left: 40%;
}

#canvas {
    z-index: 1;
    position: absolute;
}

.site-footer {
    background-color: #6418C8;
    padding: 45px;
    font-size: 15px;
    line-height: 24px;
    color: white;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0;
}

.site-footer h6 {
    color: black;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: white;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: white;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }
    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89
}

.quick-heading-right-1{
    padding-left: 30px;
}
.gtn{
    margin-left: 40px;
}
@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}

@media (max-width: 767.98px) { 

    .pic3{
        margin-top: 10%;
        width: 95%;
        margin-left: 2.5%;
    }
    .pic2{
        margin-top: 10%;
        width: 100%;
        margin-bottom: 10%;
    }
    .lcod{
margin-right: 20%;
    }
    .cardbody{
        width: 100%;
    }
    .main-heading span{
        font-size: 32px;

    }
    .quick-heading-left span{
        font-size: 32px;
 
    }
    .top-btn a{
text-align: center;    
margin-left: 12%;
}
    .cards .p-2{
    margin-left: 85px;
}
.wrapper ul li a {
    color: none;
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
}

body{
    background: url("https://images.unsplash.com/photo-1491308056676-205b7c9a7dc1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8c3R1ZGVudHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80");
    background-repeat: no-repeat;
    background-size:100% ;
}

.quick-heading-right-1 span {
padding-left: 5px;
}

.quick-heading-right-1{
    font-size: 33px;
    font-family:Arial, Helvetica, sans-serif;
    
}

.quick-heading-right-1 span {
    position: absolute;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    color: black;
    font-size: 35px;
}

.quick-heading-right-1 span:hover {
    cursor: pointer;
    animation-name: rubberBand;
    -moz-animation-name: rubberBand;
}

.lang{
    background-color: dodgerblue;
}

.cardss{
    background-color: dodgerblue;
}
